.react {color: #087EA4;}

.node {color: #79B265;}

.mysql {color: #015A85;}

.type {color: #3178C6;}

.git{color: white;}

.linkedin{color: #0A66C2;}

.tel{color: #14D361;}

.email{color:  #d84639;}

.link:hover{transform: scale(0.9);}